<h1>Add a New Product Here</h1>
{{#if name}}
<form action="/products" method="POST" enctype="application/x-www-form-urlencoded">
  Name:<br>
  <input type="text" name="name"><br>
  Price:<br>
  <input type="text" name="price"><br>
  Inventory:<br>
  <input type="text" name="inventory"><br><br>
  <button type="submit">Submit</button>
</form>

{{else}}
<div>The Product already exists. Try again!</div>
{{/if}}