<h1>Edit a Product Here</h1>
<form action="/action_page.php">
  Id#:<br>
  <input type="text" name={{prod.id}}><br>
  Name:<br>
  <input type="text" name={{prod.name}}><br>
  Price:<br>
  <input type="text" name={{prod.price}}><br>
  Inventory:<br>
  <input type="text" name={{prod.inventory}}><br><br>
  <input type="submit" value="Submit">
</form>