<h1>Input a New Product Here</h1>
<form action="/action_page.php">
  Name:<br>
  <input type="text" name={{product.name}}><br>
  Price:<br>
  <input type="text" name={{product.price}}><br>
  Inventory:<br>
  <input type="text" name={{product.inventory}}><br><br>
  <input type="submit" value="Submit">
</form>