<h1>Input a New Product Here</h1>
<form action="/products">
  Name:<br>
  <input type="text" placeholder='Name' name={{product.name}}><br>
  Price:<br>
  <input type="text" name={{product.price}}><br>
  Inventory:<br>
  <input type="text" name={{product.inventory}}><br><br>
  <button type="submit">Submit</button>
</form>